<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Model2Study</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>


	<!-- Listener가 사용할 초기 파라메터 등록 -->
	<context-param>
		<param-name>objectMapperLocation</param-name>
		<param-value>C:/KOSTA187/workspace/Model2Study/WebContent/WEB-INF/object-mapper.xml</param-value>
	</context-param>

	<!-- 웹브라우저 모든 요청에 대한 단일 진입점 역할의 Front Controller Servlet(메인서블릿) 등록 -->
	<servlet>
		<servlet-name>frontController</servlet-name>
		<servlet-class>kr.or.kosta.shoppingmall.common.controller.SimpleFrontControllerServlet_V4</servlet-class>
		<init-param>
			<param-name>controllerMapperLocation</param-name>
			<param-value>C:/KOSTA187/workspace/Model2Study/WebContent/WEB-INF/controller-mapper.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>frontController</servlet-name>
		<url-pattern>*.mall</url-pattern>
		<!-- <url-pattern>/blog/*</url-pattern> -->
	</servlet-mapping>

	<!-- Listener 등록 -->
	<listener>
		<listener-class>kr.or.kosta.shoppingmall.common.listener.ServletContextLoadListener</listener-class>
	</listener>

	<!-- 필터 등록 -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>kr.or.kosta.shoppingmall.common.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>