* {
	padding: 0px;
	margin: 0px;
}

.mainbody {
	margin: 0px auto;
	height: 800px;
}

h1 {
	text-align: center;
}

.user_info {
	margin: 1em auto;
	line-height: 2.4em;
	font-size: 1em;
	width: fit-content;
}

#show_info {
	margin: 0px auto;
	width: 40rem;
}

.inputError {
	font-size: 0.8em;
	display: none;
	line-height: normal;
}

.hidden {
	font-size: 1.25em;
	padding-right: 5px;
	visibility: hidden;
}

#message {
	margin-top: 10px;
}

iframe {
	width: 100%;
	height: 50%;
	border-color: transparent;
}

input[type=text],
input[type=password],
select {
	display: inline-block;
	padding: 3px 6px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

button {
	background-color: rgba(255, 99, 71, 1);
	color: white;
	padding: 3px 8px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	border: none;
}