* {
	padding: 0px;
	margin: 0px;
}

.mainbody {
	margin: 0px auto;
	height: 800px;
}

h1 {
	text-align: center;
	margin: 40px auto;
}

#upperbody {
	margin: 0px auto;
	width: fit-content;
}

#messages {
	margin: 1em auto;
	width: 400px;
	height: 270px;
	display: block;
	border-right: 1px solid #ccc;
	text-align: center;
	float: left;
}

#messages textarea {
	width: 360px;
	height: 250px;
	margin: 10px 0px;
	resize: none;
	line-height: 20pt;
	font-size: 12pt;
}

.user_info {
	margin: 1em 10px;
	line-height: 2.4em;
	font-size: 1em;
	width: 380px;
	display: inline-block;
}

#show_info {
	margin: 0px auto;
	width: 800px;
}

.inputError {
	font-size: 0.8em;
	display: none;
	line-height: normal;
	color: crimson;
}

.hidden {
	font-size: 1.25em;
	padding-right: 7px;
	visibility: hidden;
}

iframe {
	width: 100%;
	height: 50%;
	border-color: transparent;
}

input[type=text],
input[type=password],
select {
	display: inline-block;
	padding: 3px 6px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

button {
	background-color: rgba(255, 99, 71, 1);
	color: white;
	padding: 3px 8px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	border: none;
}
